body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

/* 見出しのスタイル調整 */
h1 {
    font-size: 36px; /* フォントサイズの調整 */
    text-align: center; /* 中央揃え */
    margin-bottom: 20px; /* 下部のマージン */
}

.gacha-container {
    background-color: #ffffff;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

#gachaCount,#sleepHours {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#gachaButton {
    width: 80%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#gachaButton:hover {
    background-color: #45a049;
}

/* 最初に戻るボタンのスタイル */
.reset-button {
    width: 80%;
    padding: 10px;
    background-color: #008CBA; /* ボタンの背景色 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* マージンで周りの要素との距離を設定 */
}

.reset-button:hover {
    background-color: #007B9E; /* ホバー時の背景色 */
}

/* フラッシュエフェクトのスタイル */
.flash-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000; /* 他の要素より上に表示 */
}

/* キャラクター画像のスタイル */
#result img {
    width: 100%; /* 画像の幅を適切に調整 */
    max-width: 200px; /* 最大幅を設定 */
    height: auto;
    border-radius: 10px; /* 画像の角を丸くする */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
    margin-bottom: 10px; /* 下部のマージン */
}

/* ガチャ結果のコンテナスタイル */
.gacha-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.gacha-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* 市町村名のスタイル */
.gacha-item .town-name {
    font-family: 'Arial', sans-serif; /* シンプルでモダンなフォント */
    font-size: 32px; /* より大きなフォントサイズ */
    font-weight: bold; /* 太字で強調 */
    color: #333; /* 濃い文字色で読みやすく */
    margin-top: 2px;
}